:root, html, #cursor, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    --bg: #121212;
    --text: #ffffff;
    --accent: #ecc903;
    --title-font: "JetBrains Mono", monospace;
    --text-font: "Verdana", "DIN Alternate", sans-serif;

    background-color: var(--bg);
    font-family: var(--text-font);
    font-size: 1.5rem;
    color: var(--text);
    overflow-x: hidden;
    scrollbar-color: var(--accent) black;
}

h1 {
    color: var(--accent);
    font-family: var(--title-font);
    font-size: 20rem;
    user-select: none;
    
    transition: letter-spacing 1s cubic-bezier(.17,.77,.33,1), scale 1s cubic-bezier(.17,.77,.33,1);
}

h1:hover {
    letter-spacing: -0.1em;
    scale: 1.075;
    transition: letter-spacing 0.5s cubic-bezier(.12,.37,0,.98), scale 0.7s cubic-bezier(.12,.37,0,.98);
}

body:has(h1:hover) #cursor {
    scale: 1.75;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cursor {
    --pos-x: 0px;
    --pos-y: 0px;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid black;
    background-color: var(--accent);
    position: fixed;
    top: calc(var(--pos-y) - 7.5px);
    left: calc(var(--pos-x) - 7.5px);
    pointer-events: none;
    transition: all 0.025s ease-out, scale 0.25s;
    z-index: 10;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    z-index: 9999; /* Ensures it stays on top of all other content */

    animation: fadeFromBlack 0.6s ease-in-out forwards;
    animation-delay: 0.2s;
    pointer-events: none; 

}

section {
    width: 100%;
    min-height: 20vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2, h3 {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    font-family: var(--text-font);
    font-size: 3em;
    color: var(--accent);
}

h3 {
    font-size: 2em;
}

h2::after {
    content: "";
    background-color: var(--accent);
    width: 4em;
    height: 3px;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    transform: skew(40deg, -1deg);
}

p {
    width: 100%;
    padding: 1rem;
    text-align: center;
    line-height: 2;
}

.math {
    font-family: math, "STIX Two Math";
    color: var(--accent);
}

.pi-block {
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.pi-block::after {
    content: "3.14159265359";
    width: 80vw;
    margin: auto;
    display: block;
    overflow: hidden;
    font-family: var(--title-font);
    color: #1b1b1b;
    font-size: 12rem;
    letter-spacing: -3px;
}

a {
    color: var(--accent);
}

iframe {
    margin-top: 4rem;
    max-width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        filter: brightness(40%);
    }
}



@keyframes fadeFromBlack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}